html,
body {
  font-size: 17px;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  display: block;
  background-color: #fff;
  color: #000;
  overflow-wrap: break-word;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
